---
import './SearchBar.css';
---

<div class="search-bar">
  <div class="search-input-wrapper">
    <input 
      type="text" 
      id="article-search" 
      placeholder="Search articles..." 
      class="search-input"
    />
    <svg class="search-icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
      <circle cx="11" cy="11" r="8"></circle>
      <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
    </svg>
  </div>
</div>